<%- include("./includes/head.ejs") %> <%- include("./includes/nav.ejs") %> <%
if(errorMessage){ %>
<p class="error"><%= errorMessage %></p>
<% }else if(successMessage){ %>
<p class="success"><%= successMessage %></p>
<% } %>
<div class="card w-50 margin-auto">
  <h1 class="text-center">Yes You are Logged in.</h1>
</div>
<%-include("./includes/end.ejs") %>
