<%- include("./includes/head.ejs") %> <%- include("./includes/nav.ejs") %>
<div class="card w-50 margin-auto">
  <h1 class="text-center fw-bold">New Password Form</h1>
  <% if(errorMessage){ %>
  <p class="error"><%= errorMessage %></p>
  <% }else if(successMessage){ %>
  <p class="success"><%= successMessage %></p>
  <% } %>
  <form method="POST" action="/sign-up">
    <div class="p-2">
      <input
        type="password"
        name="newPassword"
        placeholder="enter the new password"
        required
        class="w-100 p-2"
      />
    </div>
    <div class="p-2">
      <input
        type="password"
        name="newConfirmPassword"
        placeholder="confirm the new password"
        required
        class="w-100 p-2"
      />
    </div>
    <input type="hidden" name="userId" value="<%= userId %>" />
    <div class="p-2">
      <button class="w-100 p-2">Update Password</button>
    </div>
  </form>
</div>

<%-include("./includes/end.ejs") %>
