<%- include("./includes/head.ejs") %> <%- include("./includes/nav.ejs") %>
<div class="card w-50 margin-auto">
  <h1 class="text-center fw-bold">Reset Password Form</h1>
  <% if(errorMessage){ %>
  <p class="error"><%= errorMessage %></p>
  <% }else if(successMessage){ %>
  <p class="success"><%= successMessage %></p>
  <% } %>
  <form method="POST" action="/reset-password">
    <div class="p-2">
      <input
        type="email"
        name="email"
        placeholder="enter the email"
        required
        class="w-100 p-2"
      />
    </div>
    <div class="p-2">
      <button type="submit" class="w-100 p-2">Email Link</button>
    </div>
  </form>
</div>

<%-include("./includes/end.ejs") %>
