<%- include("./includes/head.ejs") %> <%- include("./includes/nav.ejs") %>
<div class="card w-50 margin-auto">
  <h1 class="text-center fw-bold">Sign Up Form</h1>
  <% if(errorMessage){ %>
  <p class="error"><%= errorMessage %></p>
  <% }else if(successMessage){ %>
  <p class="success"><%= successMessage %></p>
  <% } %>
  <form method="POST" action="/sign-up">
    <div class="p-2">
      <input
        type="text"
        name="name"
        placeholder="enter the name"
        required
        class="w-100 p-2"
        value="<%= old_input.name %>"
      />
      <%- include("./includes/input-error.ejs",{match_param :"name"}) %>
    </div>
    <div class="p-2">
      <input
        type="email"
        name="email"
        placeholder="enter the email"
        required
        class="w-100 p-2"
        value="<%= old_input.email %>"
      />
      <%- include("./includes/input-error.ejs",{match_param :"email"}) %>
    </div>
    <div class="p-2">
      <input
        type="password"
        name="password"
        placeholder="enter the password"
        required
        class="w-100 p-2"
        value="<%= old_input.password %>"
      />
      <%- include("./includes/input-error.ejs",{match_param :"password"}) %>
    </div>
    <div class="p-2">
      <input
        type="password"
        name="confirmPassword"
        placeholder="confirm the password"
        required
        class="w-100 p-2"
        value="<%= old_input.confirmPassword %>"
      />
      <%- include("./includes/input-error.ejs",{match_param :"confirmPassword"})
      %>
    </div>
    <%- include("./includes/csrf-token-input.ejs") %>
    <div class="p-2">
      <button class="w-100 p-2">Sign-up</button>
    </div>
    <div>
      <p class="text-center">OR</p>
    </div>
    <div class="p-2">
      <a class="btn w-100" href="/login" class="w-100 p-2">Login</a>
    </div>
  </form>
</div>

<%-include("./includes/end.ejs") %>
